body {
    font-family: Arial, sans-serif;
    background-color: #181818;  /* Dark background */
    color: #e0e0e0;  /* Light text color */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.form-container {
    width: 300px;
    flex-shrink: 0;
    background: #333;  /* Dark container background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #444;  /* Dark input background */
    color: #e0e0e0;  /* Light text color */
    box-sizing: border-box;
}

h1 {
    color: #fff;  /* Light heading color */
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #e0e0e0;  /* Light text for labels */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

.streams-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-grow: 1;
}

.camera-container {
    position: relative;
    background: #333;  /* Dark background */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
    background-color: darkred;
}

/* Hide the RTSP and Webcam Index inputs by default */
#rtsp-url, #webcam-idx {
    display: none;
}

